.btn {
   background-color: hsl(322, 100%, 66%);
   box-sizing: border-box;
   border-radius: 100px;
   color: #FFF;
   font-weight: 700;
   padding: 1rem 3rem;
   cursor: pointer;
}

.btn:hover:not(.btn-header) {
   background-color: hsl(322, 100%, 80%);
}

.btn-header {
   background-color: #FFF;
   border: 1px solid hsl(322, 100%, 66%);
   color: hsl(322, 100%, 66%);
   font-weight: 400;
   padding: .5rem 1.5rem;
}

.btn-header:hover {
   border-color:hsl(322, 100%, 80%);
   color: hsl(322, 100%, 80%);
}