@media screen and (max-width: 1000px) {
   .container {
      padding-left: 1rem;
      padding-right: 1rem;
   }
}

@media screen and (min-width: 1000px) {
   .container {
      padding-left: 4rem;
      padding-right: 2rem;
   }
}