body {
   font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  margin-bottom: 2rem;
}

h2, h3, h4, h5, h6 {
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: "Poppins", sans-serif;
}

p {
   color: rgba(0, 0, 0, .9);
   line-height: 1.5;
}

a {
   text-decoration: none;
}

@media screen and (min-width: 1000px) {
   .paragrafo {
      width: 32rem;
   }
}